<div class="row row-white">
  <div class="container container_main-chooser">
    <div class="chooser">
      <div class="bottom-shadow__inner chooser__inner">
        <section>
          <ul class="chooser__list">

            <li class='chooser__list__item' [class.visible]="specialty.active" *ngFor="let specialty of specialties">
              <p class="chooser__list__item-wrapper">
                <a
                  class="chooser__list__item-link"
                  [text]="specialty.title" [routerLink]="['doctors','kiev', specialty.alias]"></a>
                <span class="chooser__list__quantity">{{ specialty.count }}</span>
              </p>
            </li>
          </ul>
          <div class="chooser__more" >
            <a href="javascript:void(0);" title="Все специальности"
               class="chooser__more-link chooser__more-link_js" (click)="showAllSpecialties()">Все {{ specialties.length }} специальностей</a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

