<div class="container-fluid container-finder">
  <div class="mobile-apteka-plashka">
    <span>Сервис полностью <span>бесплатный для пациентов</span> </span></div>
  <div class="row row-finder  row-finder_main">
    <div class="container-bg"></div>
    <div class="container">
      <script>
        current_city = 'kiev';
      </script>
      <div class="wrap">
        <div class="finder-title">
          Медицинский онлайн-хаб <p>Удобные решения для вашего здоровья</p>
        </div>

        <app-home-search></app-home-search>

        <app-home-counter></app-home-counter>

      </div>
    </div>
  </div>

  <app-home-specialty></app-home-specialty>

</div>

<div class="container-fluid">
  <div class="container promo-banners"></div>
</div>

<div class="container-fluid offers-block">
  <div class="row">
    <div class="container main-content">
      <div class="main-container">
        <section class="offers-list">
          <header class="header-styled index-page-header">
            <div class="row">
              <div class="col-sm-7 col-xs-12">
                <div class="h1">Акции и скидки</div>
                <a href="promotions/kiev/all.html" title="Все предложения"
                   class="main-more-link visible-xs">
                  Все предложения <i>
                  <svg-icon [src]="'/assets/svg/svgexport-14.svg'"></svg-icon>

                </i>
                </a>
              </div>
              <div class="col-sm-5 col-xs-12 text-right hidden-xs">
                <a href="promotions/kiev/all.html" title="Все предложения" class="main-more-link">
                  Все предложения <i>
                  <svg-icon [src]="'/assets/svg/svgexport-14.svg'"></svg-icon>
                </i>
                </a>
              </div>
            </div>
          </header>
          <div class="row offset-bottom-0">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/besplatna-konsultaciya-ginekologa.html"
                 title="Бесплатная консультация гинеколога" class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>Бесплатная консультация гинеколога</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="price">бесплатно</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/skidka-na-pervichnyj-priem-vracha.html"
                 title="Скидка на первичный прием врача" class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>Скидка на первичный прием врача</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>10%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">590</div>
                      <div class="price">531</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/50-skidka-na-pervichnuyu-konsultaciyu-otolaringologa.html"
                 title="50 % скидка на первичную консультацию отоларинголога"
                 class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>50 % скидка на первичную консультацию отоларинголога</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>50%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">350</div>
                      <div class="price">175</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a
                href="promotions/kiev/50-skidka-na-pervichnaya-konsultaciyu-terapevta-dlya-pacientov-s-priznakami-covid-19.html"
                title="50% скидка на первичную консультацию терапевта (включая пациентов с признаками Covid-19)"
                class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>50% скидка на первичную консультацию терапевта (включая пациентов с признаками Covid-19)</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>50%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">500</div>
                      <div class="price">250</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/akciya-na-kompleksnoe-obsledovanie-u-kardiologa.html"
                 title="Акция на комплексное обследование у кардиолога"
                 class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>Акция на комплексное обследование у кардиолога</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>45%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">890</div>
                      <div class="price">489</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/lechebnyj-massazh-ot-kliniki-viva-so-skidkoj-5-seansov.html"
                 title="Лечебный массаж от клиники «VIVA» со скидкой (5 сеансов)"
                 class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>Лечебный массаж от клиники «VIVA» со скидкой (5 сеансов)</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>45%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">1 950</div>
                      <div class="price">1 072</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid row_grey-texture_light">
  <div class="container container_nopadding">
    <div class="diagnostics-record">
      <header class="header-styled index-page-header">
        <div class="diagnostics-record__header-wrap">
          <div class="col-sm-7 col-xs-12">
            <div class="h1">Запись на диагностику</div>
          </div>
          <div class="col-sm-5 text-right hidden-xs">
            <a href="diagnostics/kiev/all.html" title="Все диагностические центры" class="main-more-link">
              Все диагностические центры <i>
              <svg-icon [src]="'/assets/svg/svgexport-14.svg'"></svg-icon>
            </i>
            </a>
          </div>
        </div>
      </header>
      <div class="diagnostics-record__inner">
        <ul class="diagnostics-record__list">
          <li class="diagnostics-record__items hidden-xs">
            <a href="diagnostics/kiev/all/uzi.html" title="УЗИ" class="diagnostics-record__item-title">
              УЗИ </a>
            <a href="diagnostics/kiev/all/rentgen.html" title="Рентген"
               class="diagnostics-record__item-title">
              Рентген </a>
            <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov.html"
               title="Диагностика заболеваний сердца и сосудов" class="diagnostics-record__item-title">
              Диагностика заболеваний сердца и сосудов </a>
            <a href="diagnostics/kiev/all/endoskopicheskie-metody-issledovaniya.html"
               title="Эндоскопические методы исследования" class="diagnostics-record__item-title">
              Эндоскопические методы исследования </a>
          </li>
          <li class="diagnostics-record__item js-tab__parent-index">
<span class="btn__mobile">
                <svg-icon [src]="'/assets/svg/svgexport-15.svg'"></svg-icon>

  </span>
            <span class="diagnostics-record__item-title item-title_mobile js-tab__mobile-d">УЗИ</span>
            <ul class="diagnostics-record__inner-list js-content-hide">
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_shitovidnoj-zhelezy.html"
                   title="УЗИ щитовидной железы" class="inner-list__link">
                  УЗИ щитовидной железы </a>
                <span class="inner-list__quantity">201</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_organov-malogo-taza.html"
                   title="УЗИ органов малого таза" class="inner-list__link">
                  УЗИ органов малого таза </a>
                <span class="inner-list__quantity">200</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_molochnyh-zhelez.html" title="УЗИ молочных желез"
                   class="inner-list__link">
                  УЗИ молочных желез </a>
                <span class="inner-list__quantity">197</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_organov-bryushnoj-polosti.html"
                   title="УЗИ органов брюшной полости" class="inner-list__link">
                  УЗИ органов брюшной полости </a>
                <span class="inner-list__quantity">192</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_pochek.html" title="УЗИ почек"
                   class="inner-list__link">
                  УЗИ почек </a>
                <span class="inner-list__quantity">182</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_myagkih-tkanej.html" title="УЗИ мягких тканей"
                   class="inner-list__link">
                  УЗИ мягких тканей </a>
                <span class="inner-list__quantity">157</span>
              </li>
            </ul>
          </li>
          <li class="diagnostics-record__item js-tab__parent-index">
<span class="btn__mobile">
                  <svg-icon [src]="'/assets/svg/svgexport-15.svg'"></svg-icon>

  </span>
            <span class="diagnostics-record__item-title item-title_mobile js-tab__mobile-d">Рентген</span>
            <ul class="diagnostics-record__inner-list js-content-hide">
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_sustavov.html" title="Рентген суставов"
                   class="inner-list__link">
                  Рентген суставов </a>
                <span class="inner-list__quantity">36</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_pridatochnyh-pazuh-nosa.html"
                   title="Рентген придаточных пазух носа (гайморовых, фронтальных и др.)"
                   class="inner-list__link">
                  Рентген придаточных пазух носа (гайморовых, фронтальных и др.) </a>
                <span class="inner-list__quantity">36</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_organov-grudnoj-kletki.html"
                   title="Рентген органов грудной клетки" class="inner-list__link">
                  Рентген органов грудной клетки </a>
                <span class="inner-list__quantity">33</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_pozvonochnika.html" title="Рентген позвоночника"
                   class="inner-list__link">
                  Рентген позвоночника </a>
                <span class="inner-list__quantity">31</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_cherepa.html" title="Рентген черепа"
                   class="inner-list__link">
                  Рентген черепа </a>
                <span class="inner-list__quantity">30</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_kisti.html" title="Рентген кисти"
                   class="inner-list__link">
                  Рентген кисти </a>
                <span class="inner-list__quantity">28</span>
              </li>
            </ul>
          </li>
          <li class="diagnostics-record__item js-tab__parent-index">
<span class="btn__mobile">
                    <svg-icon [src]="'/assets/svg/svgexport-15.svg'"></svg-icon>

</span>
            <span class="diagnostics-record__item-title item-title_mobile js-tab__mobile-d">Диагностика заболеваний сердца и сосудов</span>
            <ul class="diagnostics-record__inner-list js-content-hide">
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_elektrokardiografiya-ekg.html"
                   title="Диагностика заболеваний сердца и сосудов Электрокардиография (ЭКГ)"
                   class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Электрокардиография (ЭКГ) </a>
                <span class="inner-list__quantity">141</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a
                  href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_sutochnoe-ekg-monitorirovanie-po-holteru.html"
                  title="Диагностика заболеваний сердца и сосудов Суточное мониторирование ЭКГ (по Холтеру)"
                  class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Суточное мониторирование ЭКГ (по
                  Холтеру) </a>
                <span class="inner-list__quantity">66</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_sutochnoe-monitorirovanie-ad.html"
                   title="Диагностика заболеваний сердца и сосудов Суточное мониторирование АД"
                   class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Суточное мониторирование АД </a>
                <span class="inner-list__quantity">42</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_sutochnoe-monitorirovanie-adekg.html"
                   title="Диагностика заболеваний сердца и сосудов Суточное мониторирование АД+ЭКГ"
                   class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Суточное мониторирование АД+ЭКГ </a>
                <span class="inner-list__quantity">28</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a
                  href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_ekg-proba-s-dozirovannoj-fizicheskoj-nagruzkoj.html"
                  title="Диагностика заболеваний сердца и сосудов ЭКГ-проба с дозированной физической нагрузкой (тредмил-тест)"
                  class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов ЭКГ-проба с дозированной физической
                  нагрузкой (тредмил-тест) </a>
                <span class="inner-list__quantity">18</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_reovazografiya-rvg.html"
                   title="Диагностика заболеваний сердца и сосудов Реовазография (РВГ)"
                   class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Реовазография (РВГ) </a>
                <span class="inner-list__quantity">18</span>
              </li>
            </ul>
          </li>
          <li class="diagnostics-record__item js-tab__parent-index">
<span class="btn__mobile">
                    <svg-icon [src]="'/assets/svg/svgexport-15.svg'"></svg-icon>

</span>
            <span class="diagnostics-record__item-title item-title_mobile js-tab__mobile-d">Эндоскопические методы исследования</span>
            <ul class="diagnostics-record__inner-list js-content-hide">
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/kolposkopiya.html" title="Кольпоскопия"
                   class="inner-list__link">
                  Кольпоскопия </a>
                <span class="inner-list__quantity">112</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/videkolonoskopiya.html" title="Колоноскопия"
                   class="inner-list__link">
                  Колоноскопия </a>
                <span class="inner-list__quantity">52</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rektoromanoskopiya.html" title="Ректороманоскопия"
                   class="inner-list__link">
                  Ректороманоскопия </a>
                <span class="inner-list__quantity">46</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/ezofagogastroduodenoskopiya-efgds-gastroskopiya.html"
                   title="Гастроскопия" class="inner-list__link">
                  Гастроскопия </a>
                <span class="inner-list__quantity">42</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/anoskopiya.html" title="Аноскопия"
                   class="inner-list__link">
                  Аноскопия </a>
                <span class="inner-list__quantity">40</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/endoskopiya.html" title="Эндоскопия"
                   class="inner-list__link">
                  Эндоскопия </a>
                <span class="inner-list__quantity">29</span>
              </li>
            </ul>
          </li>
        </ul>
        <div class="diagnostics-record__more"><a rel="nofollow" href="#diagnostic-center" data-toggle="modal"
                                                 data-target="#select-area-diagnostics" title="Все диагностики"
                                                 class="diagnostics-record__more-link">Все &nbsp;242&nbsp;услуг
          диагностики</a></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-advantages hidden-xs">
  <section class="store-sec">
    <div class="container store-sec_cnt">
      <div data-wow-duration="1.2s" data-wow-offset="150" class="store-sec_point wow fadeIn">
        <div class="store-sec_point_caption f-b h1">Завантажуйте наш додаток, щоб ми були ближче</div>
        <div class="store-sec_point_text">Часто люди, звертаючись за медичними послугами, заплутуються,
          лякаються складнощів і навіть обирають ненайдійне самолікування. Тому ми оновлюємо -
          платформу, яка має на меті закрити усі медичні питання українця, зробити медицину більш френдлі:
          доступною, зрозумілою і простою.
        </div>
        <div class="store-sec_point_links">
          <img src="assets/img/med.png" alt="">
          <a href="innovated.html" class="store-sec_point_links_point">
            <svg-icon [src]="'/assets/svg/svgexport-16.svg'"></svg-icon>

            App Store
          </a>
          <a href="innovated.html" class="store-sec_point_links_point">
            <svg-icon [src]="'/assets/svg/svgexport-17.svg'"></svg-icon>
            Google Play
          </a>
        </div>
      </div>
      <div class="store-sec_img">
        <img class="main-sec_phone-block_chem" src="assets/img/chem.png" alt="chem">
        <img class="lazy store-sec_img_svg" src="assets/img/store-im-1.png" alt="store">
      </div>
    </div>
  </section>
  <div class="row row-white row_advantages">
    <div class="advantages container">
      <div class="row">
        <div class="advantage col-sm-4">
          <div class="advantage__icon">
            <i>
              <svg-icon [src]="'/assets/svg/svgexport-18.svg'"></svg-icon>
            </i>
          </div>
          <div class="advantage__title">Наш сервис бесплатен для пациентов</div>
          <div class="advantage__desc">Мы работаем без скрытых наценок и комиссий. Вы платите только клинике
            за предоставленные вам услуги.
          </div>
        </div>
        <div class="advantage col-sm-4">
          <div class="advantage__icon">
            <i>
              <svg-icon [src]="'/assets/svg/svgexport-19.svg'"></svg-icon>
            </i>
          </div>
          <div class="advantage__title">В нашем call-центре работают врачи</div>
          <div class="advantage__desc">В нашем call-центре работают операторы с медицинским образованием,
            которые помогут вам выбрать лучшего специалиста.
          </div>
        </div>
        <div class="advantage col-sm-4">
          <div class="advantage__icon">
            <i>
              <svg-icon [src]="'/assets/svg/svgexport-20.svg'"></svg-icon>
            </i>
          </div>
          <div class="advantage__title">Ваши данные в полной безопасности</div>
          <div class="advantage__desc">Мы гарантируем Вам конфиденциальность Ваших данных. Ваша персональная
            информация используется только для записи.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-rg-q__thank-wrap diagnostic-popup">
  <div class="p-rg-thank__c">
    <svg-icon [src]="'/assets/svg/svgexport-21.svg'"></svg-icon>

    <div class="p-rg-thank__text">
      <h3>Спасибо!</h3>
      <p>Ваша заявка принята, мы свяжемся с Вами в ближайшее время</p>
    </div>
  </div>
</div>
