<div class="container-fluid">
  <div class="row">
    <div class="container main-content">

      <div class="row">
        <div class="col-md-8 search-clinic-wrapper pr-0 bord-gr-r">
          <div class="search-clinic">
            <div class="white-bg">
              <div class="search-clinic__title__section search-clinic_israting">
                <h1 class="search-clinic__title">Частные врачи Киева</h1>
                <div class="search-clinic__subtitle"><span>см. </span>
                  <a href="../../kliniki/kiev/all.html">клиники Киева</a>
                </div>
              </div>
              <div class="rich-content">
                <div class="search-clinic__text">
                  <p>Если вам нужно записаться на приём к доктору или диагностику, на нашем сайте вы
                    найдёте самую
                    большую в Украине онлайн-базу врачей и действующих медицинских учреждений.
                    Сервис
                    является
                    абсолютно бесплатным для пользователей – никаких скрытых комиссий и платежей,
                    пациенты
                    оплачивают только услуги, предоставленные в клинике.</p>
                  <h2>Найти хорошего врача через интернет – проще простого!</h2>
                  <p>Список врачей, клиник, диагностических центров и лабораторий включает тысячи
                    страниц,
                    на которых
                    представлена детальная информация о предоставляемых услугах и их стоимости. В
                    профилях врачей мы
                    публикуем подробные данные о том, где проходил обучение конкретный специалист,
                    сколько лет
                    составляет его трудовой стаж, его компетенциях и квалификации, наличии научных
                    работ
                    и
                    стажировок, владеет ли он иностранными языками, какие процедуры и манипуляции
                    проводит, какие
                    заболевания и патологии лечит. Также на нашем портале вы найдёте реальные,
                    правдивые
                    отзывы
                    пациентов, которые сделали поиск врача на DOC.UA, оформили заявку и побывали на
                    приёме. Каждый
                    отклик, оставленный пользователем портала, учитывается при формировании рейтинга
                    врача или
                    клиники. Чем выше рейтинг доктора, тем выше его профессионализм и тем выше
                    оценили
                    его работу и
                    личностные качества пациенты.</p>
                  <h3>Преимущества нашего сервиса:</h3>
                  <ul>
                    <li>К вашим услугам на DOC.UA – внушительная база врачей, работающих в клиниках
                      Киева, Одессы,
                      Харькова, Львова, Днепра и других городов. Наша цель и стремление – чтобы
                      жители
                      всех
                      регионов страны имели доступ к грамотному и качественному медицинскому
                      обслуживанию. Для
                      быстрого поиска врача в нужном городе используйте фильтры, которые позволяют
                      отсортировать
                      список докторов по нескольким параметрам: стоимости приёма, рейтингу, стажу,
                      популярности, а
                      также количеству отзывов, территориальному расположению. Также мы указываем,
                      работает ли
                      специалист с выездом на дом к пациенту либо ведёт приём исключительно в
                      клинике.
                    </li>
                    <li>Чтобы записаться к врачу, вам не нужно отпрашиваться с работы или покидать
                      дом –
                      онлайн-база
                      доступна в любом месте, где есть интернет.
                    </li>
                    <li>Поможем выбрать врача и сделаем процесс записи максимально удобным. В нашем
                      колл-центре
                      работают координаторы с медицинским образованием. Если у вас возникли
                      затруднения с выбором
                      подходящего врача, оператор DOC.UA поможет найти хорошего доктора и запишет
                      вас
                      к нему на
                      консультацию на удобное время. Также мы ведём запись на диагностические
                      процедуры. При
                      оформлении заявки координатор уточнит стоимость интересующих услуг,
                      подскажет
                      удобный
                      маршрут к клинике, а также проконсультирует, как подготовиться к той
                      процедуре,
                      которую вы
                      планируете пройти.
                    </li>
                    <li>Наши услуги абсолютно бесплатны для пациентов – открывайте список врачей,
                      выбирайте нужного
                      специалиста и отправляйтесь к нему на приём. После консультации или лечения
                      оплатите
                      оказанные услуги в клинике – на сайте DOC.UA ничего платить не нужно.
                    </li>
                    <li>Выгодные предложения для пациентов! В разделе «Акции» мы публикуем выгодные
                      предложения от
                      наших клиник-партнёров из Киева, Харькова, Одессы, Львова, Днепра, Запорожья
                      и
                      других
                      городов Украины. Будьте в курсе актуальных предложений, чтобы пользоваться
                      медицинскими
                      услугами заботиться о здоровье с максимальной выгодой для личного бюджета!
                    </li>
                  </ul>
                  <p>Каждый день мы работаем над тем, чтобы список врачей и клиник на сайт стал ещё
                    больше, а процесс
                    поиска хорошего доктора и записи в клинику был максимально простым и быстрым для
                    пользователя.
                    Записывайтесь к доктору, на анализы или диагностику через DOC.UA – экономьте
                    время и
                    силы!</p>
                </div>
                <button class="search-clinic__slide search-clinic__slide_js">
                  <span>развернуть</span>
                  <span class="slide-up">свернуть</span><i>
                  <svg class="arrow-to-down" xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="4"
                       viewBox="0 0 13 8" version="1.1">
                    <g transform="translate(-5908 1236)">
                      <use xlink:href="#path1_fill" transform="translate(5908.94 -1235.41)"
                           fill="#828282"></use>
                    </g>
                    <path id="path1_fill"
                          d="M 1.41 1.52588e-07L 6 4.58L 10.59 1.52588e-07L 12 1.41L 6 7.41L 0 1.41L 1.41 1.52588e-07Z"></path>
                  </svg>
                </i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 map-sidebar">
          <div class="map-sidebar__img">
            <a href="../../map/doctors/kiev.html" class="btn btn-success">
              <i>
                <svg width="14" height="14" viewBox="0 0 14 14" version="1.1"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g transform="translate(-475 1225)">
                    <use xlink:href="#map-icon" transform="translate(475 -1225)"></use>
                  </g>
                  <defs>
                    <path id="map-icon"
                          d="M 2 9L 0 9L 0 14L 5 14L 5 12L 2 12L 2 9ZM 0 5L 2 5L 2 2L 5 2L 5 0L 0 0L 0 5ZM 12 12L 9 12L 9 14L 14 14L 14 9L 12 9L 12 12ZM 9 0L 9 2L 12 2L 12 5L 14 5L 14 0L 9 0Z"></path>
                  </defs>
                </svg>
              </i>
              <span>Развернуть карту</span>
            </a>
          </div>
        </div>
      </div>

      <div id="getFixedList">
        <div class="row clinic-list">
          <div class="col-md-8">
            <div class="search-clinic">
              <div class="search-clinic__block">
                <div class="search-clinic__filter_wrapper finder_inner-pages">
                  <div class="clinicmobile-filter-wrapper">
                    <button class="search-filter_btn search-filter_js icon-filter">
                      <span>Фильтры</span>
                    </button>
                    <a class="search-filter_link"
                       href="../../map/doctors/kiev/index.html">Показать на карте</a>
                  </div>
                  <div id="searchAll" class="finder ">
                    <fieldset>
                      <div class="searchDoctor filter-search-block">
                        <form action="https://doc.ua/" class="finder-form">
                          <div class="finder__field finder__field-icon-doctors js-location-lists"
                               data-target="#select-specialization">
                            <input type="text"
                                   placeholder="Введите специальность или фамилию врача"
                                   class="all-search__input finder__field-text form-control"
                                   name="query"/>
                            <div style="display: none;"
                                 class="icon-clean js-remove-value"></div>
                            <div class="finder__right-block"
                                 data-target="#select-specialization" data-toggle="modal">
                              <i class="triagle"></i>
                              <span class="finder__field_img icon-doctor"></span>
                            </div>
                            <input type="hidden" id="selectService"/>
                            <input type="hidden" id="selectLanguage"/>
                            <div style="display: none;" class="search-result">
                              <ul data-simplebar data-simplebar-autohide="false"
                                  class="livesearch top-list"></ul>
                            </div>
                            <div style="display: none;"
                                 class="index-no-result result-message__danger"></div>
                          </div>
                          <div data-target="#select-area"
                               class="finder__field finder__field-icon-location js-finder-scroll js-location-lists">
                            <input type="text" placeholder="Введите&nbsp;район или метро"
                                   class="finder__field-text form-control locations-all-input">
                            <div style="display: none"
                                 class="icon-clean js-remove-value"></div>
                            <div data-target="#select-area" data-toggle="modal"
                                 class="finder__right-block">
                              <i class="triagle"></i>
                              <span class="finder__field_img icon-location-clean"></span>
                            </div>
                            <input type="hidden" id="selectArea" getstartsearch>
                            <div style="display: none;" class="loc-search-result">
                              <ul data-simplebar data-simplebar-autohide="false"
                                  class="location-lists"></ul>
                            </div>
                            <div style="display: none;"
                                 class="index-no-result result-message__danger"></div>
                          </div>
                        </form>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="clinicmobile-sort-wrapper">
                  <button class="search-sort_btn search-sort_js">Отсортировано по популярности
                  </button>
                </div>
                <div class="search-clinic__schedule">
                  <div class="catalog-checkboxes">
                    <label class="catalog-checkboxes__label">
                      <input data-url="/doctors/kiev/all/child" data-checked=""
                             name="doctor_models_Doctor[child]" id="doctor_models_Doctor_child"
                             value="1" type="checkbox"/> <a class="catalog-checkboxes__link"
                                                            href="all/child.html">
                      <span class="hidden-640">Детский врач</span>
                      <span class="visible-640">Детский врач</span>
                    </a>
                    </label>
                    <label class="catalog-checkboxes__label">
                      <input id="doctor_models_Doctor_to_home" data-url="/doctors/kiev/all/home"
                             data-checked="" name="doctor_models_Doctor[to_home]" value="1"
                             type="checkbox"/> <a class="catalog-checkboxes__link"
                                                  href="all/home.html">
                      <span class="hidden-640">С выездом на дом</span>
                      <span class="visible-640">С выездом на дом</span>
                    </a>
                    </label>
                  </div>
                </div>
                <div class="search-clinic__filter">
                  <ul class="search-clinic__list" id="doctor_models_Doctor_sort">
                    <li data-value="popular" data-sort="Отсортировано по популярности"
                        class="search-clinic__list__item search-clinic__list_js active">
                      <a href="#" class="search-clinic__list__link">по популярности</a>
                      <i class="green-to-down icon-up-arr-to disabled">
                      </i></li>
                    <li data-value="rate_desc" data-sort="Отсортировано по рейтингу"
                        class="search-clinic__list__item search-clinic__list_js">
                      <a href="#" class="search-clinic__list__link">по рейтингу</a>
                      <i class="green-to-down icon-up-arr-to">
                      </i></li>
                    <li data-value="price_asc" data-sort="Отсортировано по цене"
                        class="search-clinic__list__item search-clinic__list_js">
                      <a href="#" class="search-clinic__list__link">по цене</a>
                      <i class="green-to-down icon-up-arr-to transformed-180">
                      </i></li>
                    <li data-value="review_count_desc"
                        data-sort="Отсортировано по количеству отзывов"
                        class="search-clinic__list__item search-clinic__list_js">
                      <a href="#" class="search-clinic__list__link">по количеству отзывов</a>
                      <i class="green-to-down icon-up-arr-to">
                      </i></li>
                    <li data-value="experience_desc" data-sort="Отсортировано по стажу"
                        class="search-clinic__list__item search-clinic__list_js">
                      <a href="#" class="search-clinic__list__link">по стажу</a>
                      <i class="green-to-down icon-up-arr-to">
                      </i></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="day-dropdown-wrapper">
              <div class="day-dropdown-text"><span>Расписание на:</span>
                <button class="day-dropdown_click day-dropdown_js">Завтра</button>
                <div class="day-dropdown__i icon-dd-ar"></div>
              </div>
              <ul class="day-dropdown__list" data-url="/schedule/doctor/setDay">
                <li class="day-dropdown_item icon-mar " data-time="1612189312">
                  <button class="day-dropdown_link">Сегодня</button>
                </li>
                <li class="day-dropdown_item icon-mar active" data-time="1612275712">
                  <button class="day-dropdown_link">Завтра</button>
                </li>
                <li class="day-dropdown_item icon-mar " data-time="1612362112">
                  <button class="day-dropdown_link">Среда, <span>03 февр</span></button>
                </li>
                <li class="day-dropdown_item icon-mar " data-time="1612448512">
                  <button class="day-dropdown_link">Четверг, <span>04 февр</span></button>
                </li>
                <li class="day-dropdown_item icon-mar " data-time="1612534912">
                  <button class="day-dropdown_link">Пятница, <span>05 февр</span></button>
                </li>
                <li class="day-dropdown_item icon-mar " data-time="1612621312">
                  <button class="day-dropdown_link">Суббота, <span>06 февр</span></button>
                </li>
                <li class="day-dropdown_item icon-mar " data-time="1612707712">
                  <button class="day-dropdown_link">Воскресенье, <span>07 февр</span></button>
                </li>
                <li class="day-dropdown_item icon-mar " data-time="1612794112">
                  <button class="day-dropdown_link">Понедельник, <span>08 февр</span></button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="items promo-container card-list" data-items-count="5564" id="doctorListView">
        <div class="doctor-list">
          <section id="sticky-content_js">
            <div class="items">

              <div class="row doctor-block" *ngFor="let doctor of doctors$ | async">
                <div class="shadow-row clearfix">
                  <div class="col-md-8 pr-0">
                    <div class="google-map-container card_doctor card card_filial ">
                      <div data-id="1242">
                        <div class="item">
                          <div class="card__left-side">
                            <div class="card__image">
                              <a class="card__image__link" href="https://doc.ua/doctor/kiev/tatyana-grechka">
                                <img
                                  src="https://static.doc.ua/uploads/5/6/9/0/_/5690/123x162/resize_bg_ratioy_width_insert_watermark/grechka.jpg"
                                  [alt]="doctor.fullName()"
                                  [title]="doctor.fullName()"
                                  class="photo lazy-im"
                                >
                              </a>
                            </div>
                          </div>
                          <div class="card__right-side">
                            <div class="card__abs" *ngIf="doctor.stats">
                              <div class="rating">
                                <div class="rating__value value">{{ doctor.stats.rating }}</div>
                                <div class="rating__stars">
                                  <div class="rating__stars-bg"></div>
                                  <div style="width: 100%;" class="rating__stars-overlay"></div>
                                </div>
                              </div>
                              <div class="card__testimonials">
                                <a href="https://doc.ua/doctor/kiev/tatyana-grechka/review"><span
                                  class="count">{{ doctor.stats.countComments }}</span> отзывов</a>
                              </div>
                            </div>
                            <div class="card__title">
                              <div class="h3">
                                <a [title]="doctor.fullName()" class="card__title__link fn"
                                   href="https://doc.ua/doctor/kiev/tatyana-grechka">{{ doctor.fullName() }}</a></div>
                            </div>
                            <div class="card__label title">
                              <strong>
                                <a style="font-weight: 700;font-size: 13px;color: #333536;"
                                   href="https://doc.ua/doctors/kiev/all/flebolog">Флеболог</a>,
                              </strong>
                              <p>Врач высшей категории. </p>
                            </div>
                            <div class="card__label__mob-informer">
                              <div class="card__label__mob-informer_rate">
                                <span class="icon-star-a"></span>
                                4.9
                              </div>
                              <a href="https://doc.ua/doctor/kiev/tatyana-grechka/review" title="558 отзывов"
                                 class="card__label__mob-informer_reviews">558 отзывов</a>
                              <span>16 лет опыта</span>
                            </div>
                            <div class="card__right-side_invert">
                              <ul class="benefits">
                                <li class="benefits__item experience-doc last-child first-child">
                                  <span class="benefits__title">лет опыта<span>,</span></span>
                                  <span class="benefits__title benefits__title_years">{{ doctor.workExperience }}</span>
                                </li>
                              </ul>
                            </div>
                            <div class="card__description">
                              <p class="card__description__text no-points">
                                {{ doctor.description }}
                                <a href="https://doc.ua/doctors/kiev/all#"
                                   class="card__description__link card__description__link_js"
                                   style="display: none;">еще</a>
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="filials-list" data-check="1242">
                          <div data-id="1171" class="small-card item-google-map-inner cl cl-0 selected active">
                            <div class="item-google-map">
                              <input type="hidden" name="lat" value="50.49099584349715">
                              <input type="hidden" name="lng" value="30.52775502204895">
                              <input type="hidden" name="address" value="ул. Оболонская наб. 1, Київ, місто Київ">
                              <p class="adr hidden">
                                <span class="extended-address">Оболонская набережная, 1, корпус 3</span>
                                <span class="street-address">Оболонская набережная, 1, корпус 3</span>
                                <span class="locality">Киев</span>
                                <span class="region"></span>
                                <span class="country-name">Україна</span>
                              </p>
                              <p class="geo hidden">
                                <span class="latitude">50.49099584349715</span>
                                <span class="longitude">30.52775502204895</span>
                                <span class="altitude"></span>
                                <span
                                  class="note">Doc.ua — бесплатный онлайн-сервис поиска врача и записи на прием.</span>
                              </p>
                              <div class="small-card__line">&nbsp;</div>
                              <a href="https://doc.ua/klinika/kiev/ameda/ameda-na-oboloni"
                                 class="small-card__title org">Амеда
                                (Ameda) на Оболони</a>
                              <div class="small-card__gtext"></div>
                              <div class="card__location__wrapper">
                                <div class="card__address"><i class="card__address__i icon-location"></i>
                                  <p class="card__address__text">Оболонская набережная, 1, корпус 3.
                                    <a href="https://doc.ua/doctors/kiev/all#clinic-location-map"
                                       data-lat="50.49099584349715"
                                       data-lng="30.52775502204895" data-toggle="modal" class="card__address__btn"
                                       data-affiliate="1171" data-hospital="404"
                                       data-address="ул. Оболонская наб. 1, Київ, місто Київ">На карте</a>
                                  </p>
                                </div>
                                <div class="card__metro">
                                  <i class="card__metro__i card__metro__i icon-location-clean"></i>
                                  <p class="card__metro__text">
                                    Оболонский </p>
                                </div>
                              </div>
                              <div class="small-card__abs">
                                <div class="small-card__right-side__price">
                                  540 грн
                                </div>
                                <div class="small-card__right-side__bottom">
                                  <button class="btn btn-success btn-sign btn-modal" data-doctor_id="1242" type="button"
                                          data-hospital_id="404" data-affiliate_id="1171" data-target="#doctor-request"
                                          data-toggle="modal" data-device="mobile" data-action_source="button"
                                          name="yt10">Записаться
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mobile-visit-time-wrapper">
                            <div class="visit-time__mob">
                              <p class="visit-time__text">
                                Выберите время приема для записи онлайн </p>
                              <div class="visit-time__tabs">
                                <div class="visit-time__tabs__point" data-time="1619209323"
                                     data-url="/schedule/doctor/setDay">
                                  Сегодня <span class="visit-time__tabs__point__date">23 апр</span>
                                </div>
                                <div class="visit-time__tabs__point active" data-time="1619295723"
                                     data-url="/schedule/doctor/setDay">
                                  Завтра <span class="visit-time__tabs__point__date">24 апр</span>
                                </div>
                                <div class="visit-time__tabs__point" data-time="1619382123"
                                     data-url="/schedule/doctor/setDay">
                                  Вс <span class="visit-time__tabs__point__date">25 апр</span>
                                </div>
                              </div>
                              <div class="branch-dropdown branch-dropdown_js">
                                <input type="text" readonly="true" class="branch-dropdown_val branch-dropdown_val_js"
                                       value="Выберите услугу">
                                <input type="hidden" class="branch-hidden_val_js" value="">
                                <ul data-simplebar="init" data-simplebar-autohide="false">
                                  <div class="simplebar-track vertical" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar"></div>
                                  </div>
                                  <div class="simplebar-track horizontal" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar"></div>
                                  </div>
                                  <div class="simplebar-scroll-content"
                                       style="padding-right: 17px; margin-bottom: -34px;">
                                    <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                                      <li class="branch-dropdown__item first-child">
                                        <span data-branch-val="550" class="branch-dropdown__link">Повторний прийом лікаря хірурга (протягом одного захворювання не більше 1 місяця) (480 грн.)</span>
                                      </li>
                                      <li class="branch-dropdown__item last-child">
                                        <span data-branch-val="548" class="branch-dropdown__link">Прийом лікаря хірурга (540 грн.)</span>
                                      </li>
                                    </div>
                                  </div>
                                </ul>
                              </div>
                            </div>
                            <div class="empty-schedule__text">
                            </div>
                          </div>
                          <div data-id="1768" class="small-card item-google-map-inner cl cl-1">
                            <div class="item-google-map">
                              <input type="hidden" name="lat" value="50.432418">
                              <input type="hidden" name="lng" value="30.54758049999998">
                              <input type="hidden" name="address" value="ул. Цитадельная, 7">
                              <div class="small-card__line">&nbsp;</div>
                              <a href="https://doc.ua/klinika/kiev/ameda/ameda-na-pecherske"
                                 class="small-card__title org">Амеда
                                (Ameda) на Печерске</a>
                              <div class="small-card__gtext"></div>
                              <div class="card__location__wrapper">
                                <div class="card__address"><i class="card__address__i icon-location"></i>
                                  <p class="card__address__text">ул. Цитадельная, 7.
                                    <a href="https://doc.ua/doctors/kiev/all#clinic-location-map" data-lat="50.432418"
                                       data-lng="30.54758049999998" data-toggle="modal" class="card__address__btn"
                                       data-affiliate="1768" data-hospital="404"
                                       data-address="ул. Цитадельная, 7">На карте</a>
                                  </p>
                                </div>
                                <div class="card__metro">
                                  <i class="card__metro__i card__metro__i icon-location-clean"></i>
                                  <p class="card__metro__text">
                                    Печерский, м.Арсенальная, м.Печерская </p>
                                </div>
                              </div>
                              <div class="small-card__abs">
                                <div class="small-card__right-side__price">
                                  540 грн
                                </div>
                                <div class="small-card__right-side__bottom">
                                  <button class="btn btn-success btn-sign btn-modal" data-doctor_id="1242" type="button"
                                          data-hospital_id="404" data-affiliate_id="1768" data-target="#doctor-request"
                                          data-toggle="modal" data-device="mobile" data-action_source="button"
                                          name="yt11">Записаться
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mobile-visit-time-wrapper">
                            <div class="visit-time__mob">
                              <p class="visit-time__text">
                                Выберите время приема для записи онлайн </p>
                              <div class="visit-time__tabs">
                                <div class="visit-time__tabs__point" data-time="1619209323"
                                     data-url="/schedule/doctor/setDay">
                                  Сегодня <span class="visit-time__tabs__point__date">23 апр</span>
                                </div>
                                <div class="visit-time__tabs__point active" data-time="1619295723"
                                     data-url="/schedule/doctor/setDay">
                                  Завтра <span class="visit-time__tabs__point__date">24 апр</span>
                                </div>
                                <div class="visit-time__tabs__point" data-time="1619382123"
                                     data-url="/schedule/doctor/setDay">
                                  Вс <span class="visit-time__tabs__point__date">25 апр</span>
                                </div>
                              </div>
                              <div class="branch-dropdown branch-dropdown_js">
                                <input type="text" readonly="true" class="branch-dropdown_val branch-dropdown_val_js"
                                       value="Выберите услугу">
                                <input type="hidden" class="branch-hidden_val_js" value="">
                                <ul data-simplebar="init" data-simplebar-autohide="false">
                                  <div class="simplebar-track vertical" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar"></div>
                                  </div>
                                  <div class="simplebar-track horizontal" style="visibility: hidden;">
                                    <div class="simplebar-scrollbar"></div>
                                  </div>
                                  <div class="simplebar-scroll-content"
                                       style="padding-right: 17px; margin-bottom: -34px;">
                                    <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                                      <li class="branch-dropdown__item first-child">
                                        <span data-branch-val="550" class="branch-dropdown__link">Повторний прийом лікаря хірурга (протягом одного захворювання не більше 1 місяця) (480 грн.)</span>
                                      </li>
                                      <li class="branch-dropdown__item last-child">
                                        <span data-branch-val="548" class="branch-dropdown__link">Прийом лікаря хірурга (540 грн.)</span>
                                      </li>
                                    </div>
                                  </div>
                                </ul>
                              </div>
                            </div>
                            <div class="empty-schedule__text">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 visit-time-wrapper visit-timerow-wrapper " style="height: 408px;"><p
                    class="visit-time__text">Выберите время приема для записи онлайн </p>
                    <div class="visit-time__tabs">
                      <div class="visit-time__tabs__point" data-time="1619209585" data-url="/schedule/doctor/setDay">
                        Сегодня <span class="visit-time__tabs__point__date">23 апр</span>
                      </div>
                      <div class="visit-time__tabs__point active" data-time="1619295985"
                           data-url="/schedule/doctor/setDay">
                        Завтра <span class="visit-time__tabs__point__date">24 апр</span>
                      </div>
                      <div class="visit-time__tabs__point" data-time="1619382385" data-url="/schedule/doctor/setDay">
                        Вс <span class="visit-time__tabs__point__date">25 апр</span>
                      </div>
                    </div>
                    <div class="branch-dropdown branch-dropdown_js">
                      <input type="text" readonly="true" class="branch-dropdown_val branch-dropdown_val_js"
                             value="Выберите услугу">
                      <input type="hidden" class="branch-hidden_val_js" value="">
                      <ul data-simplebar="init" data-simplebar-autohide="false">
                        <div class="simplebar-track vertical" style="visibility: hidden;">
                          <div class="simplebar-scrollbar"></div>
                        </div>
                        <div class="simplebar-track horizontal" style="visibility: hidden;">
                          <div class="simplebar-scrollbar"></div>
                        </div>
                        <div class="simplebar-scroll-content" style="padding-right: 17px; margin-bottom: -34px;">
                          <div class="simplebar-content" style="padding-bottom: 17px; margin-right: -17px;">
                            <li class="branch-dropdown__item">
                              <span data-branch-val="550" class="branch-dropdown__link">Повторний прийом лікаря хірурга (протягом одного захворювання не більше 1 місяця) (480 грн.)</span>
                            </li>
                            <li class="branch-dropdown__item">
                        <span data-branch-val="548"
                              class="branch-dropdown__link">Прийом лікаря хірурга (540 грн.)</span>
                            </li>
                          </div>
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </section>
        </div>
        <div class="doctorListView_trigger"><a href="https://doc.ua/doctors/kiev/all#" class="load-items"><span
          class="load-items__item">Показать еще 10 врачей</span><i>
          <svg width="22" height="16" viewBox="0 0 22 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink">
            <g transform="translate(-2075 1522)">
              <use xlink:href="#update" transform="translate(2075 -1522)" fill="#5E6E71"></use>
            </g>
            <defs>
              <path id="update"
                    d="M 18 4L 14 8L 17 8C 17 11.31 14.31 14 11 14C 9.99 14 9.03 13.75 8.2 13.3L 6.74 14.76C 7.97 15.54 9.43 16 11 16C 15.42 16 19 12.42 19 8L 22 8L 18 4ZM 5 8C 5 4.69 7.69 2 11 2C 12.01 2 12.97 2.25 13.8 2.7L 15.26 1.24C 14.03 0.46 12.57 0 11 0C 6.58 0 3 3.58 3 8L 0 8L 4 12L 8 8L 5 8Z"></path>
            </defs>
          </svg>
        </i></a></div>
        <div class="pager">
          <ul class="pagination hidden-xs" id="yw0" style="width: 306px;">
            <li class="previous first-child hidden" style=""><a rel="next"
                                                                title="Перейти на 1 страницу Частные врачи Киева"
                                                                href="https://doc.ua/doctors/kiev/all"><span
              class="pg-lg-show icon-dd-ar"></span></a></li>
            <li class="page active single"><a title="Перейти на 1 страницу Частные врачи Киева"
                                              href="https://doc.ua/doctors/kiev/all">1</a></li>
            <li class="page"><a title="Перейти на 2 страницу Частные врачи Киева"
                                href="https://doc.ua/doctors/kiev/all/page-2">2</a></li>
            <li class="page pg-xs-hide"><a title="Перейти на 3 страницу Частные врачи Киева"
                                           href="https://doc.ua/doctors/kiev/all/page-3">3</a></li>
            <li class="page pg-xs-hide"><a title="Перейти на 4 страницу Частные врачи Киева"
                                           href="https://doc.ua/doctors/kiev/all/page-4">4</a></li>
            <li class="pg-xs-show" style=""><span>…</span></li>
            <li class="page"><a title="Перейти на 5 страницу Частные врачи Киева"
                                href="https://doc.ua/doctors/kiev/all/page-5">5</a></li>
            <li class="next last-child"><a rel="next" title="Перейти на 2 страницу Частные врачи Киева"
                                           href="https://doc.ua/doctors/kiev/all/page-2"><span
              class="pg-lg-show icon-dd-ar"></span></a></li>
          </ul>
        </div>
        <div class="keys" style="display:none" title="/doctors/kiev/all">
          <span>239</span><span>948</span><span>1404</span><span>1895</span><span>2953</span><span>59</span><span>1242</span><span>5552</span><span>2029</span><span>5376</span>
        </div>
      </div>

    </div>
  </div>
</div>

