@inherits LayoutComponentBase

<div class="page">
    <NavMenu/>

    <section class="main_content dashboard_part">
        <PersonMenu/>

        <div class="main_content_iner">
            @Body
        </div>

        <Footer/>
    </section>
</div>