<!-- sidebar  -->
<!-- sidebar part here -->
<nav class="sidebar">
    <div class="logo d-flex justify-content-between">
        <NavLink href="" Match="NavLinkMatch.All">
            <img src="/img/logo.png" alt="main">
        </NavLink>
        
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu" class="metismenu">
        <li class="side_menu_title">
            <span>Dashboard</span>
        </li>
        <li class="mm-active">
            <NavLink class="has-arrow" href="" aria-expanded="true">
                <img src="/img/house.svg" alt="">
                <span>Dashboard</span>
            </NavLink>

            <ul class="mm-collapse mm-show">
                <li>
                    <NavLink class="active" href="dash1">
                        Dashboard 1
                    </NavLink>
                </li>
                <li>
                    <NavLink href="dash2">
                        Dashboard 2
                    </NavLink>
                </li>
            </ul>

        </li>


    </ul>

</nav>
<!-- sidebar part end -->
<!--/ sidebar  -->
