<div class="container-fluid container-finder">
  <div class="mobile-apteka-plashka">
    <span>Сервис полностью <span>бесплатный для пациентов</span> </span></div>
  <div class="row row-finder  row-finder_main">
    <div class="container-bg"></div>
    <div class="container">
      <script>
        current_city = 'kiev';
      </script>
      <div class="wrap">
        <div class="finder-title">
          Медицинский онлайн-хаб <p>Удобные решения для вашего здоровья</p>
        </div>

        <app-home-search></app-home-search>

        <app-home-counter></app-home-counter>

      </div>
    </div>
  </div>

  <app-home-specialty (emptied)="supperMethod()"></app-home-specialty>

</div>

<div class="container-fluid">
  <div class="container promo-banners"></div>
</div>

<div class="container-fluid offers-block">
  <div class="row">
    <div class="container main-content">
      <div class="main-container">
        <section class="offers-list">
          <header class="header-styled index-page-header">
            <div class="row">
              <div class="col-sm-7 col-xs-12">
                <div class="h1">Акции и скидки</div>
                <a href="promotions/kiev/all.html" title="Все предложения"
                   class="main-more-link visible-xs">
                  Все предложения <i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path class="btn-blue"
                          d="M8 0L6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8z"></path>
                  </svg>
                </i>
                </a>
              </div>
              <div class="col-sm-5 col-xs-12 text-right hidden-xs">
                <a href="promotions/kiev/all.html" title="Все предложения" class="main-more-link">
                  Все предложения <i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <path class="btn-blue"
                          d="M8 0L6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8z"></path>
                  </svg>
                </i>
                </a>
              </div>
            </div>
          </header>
          <div class="row offset-bottom-0">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/besplatna-konsultaciya-ginekologa.html"
                 title="Бесплатная консультация гинеколога" class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>Бесплатная консультация гинеколога</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="price">бесплатно</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/skidka-na-pervichnyj-priem-vracha.html"
                 title="Скидка на первичный прием врача" class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>Скидка на первичный прием врача</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>10%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">590</div>
                      <div class="price">531</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/50-skidka-na-pervichnuyu-konsultaciyu-otolaringologa.html"
                 title="50 % скидка на первичную консультацию отоларинголога"
                 class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>50 % скидка на первичную консультацию отоларинголога</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>50%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">350</div>
                      <div class="price">175</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a
                href="promotions/kiev/50-skidka-na-pervichnaya-konsultaciyu-terapevta-dlya-pacientov-s-priznakami-covid-19.html"
                title="50% скидка на первичную консультацию терапевта (включая пациентов с признаками Covid-19)"
                class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>50% скидка на первичную консультацию терапевта (включая пациентов с признаками Covid-19)</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>50%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">500</div>
                      <div class="price">250</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/akciya-na-kompleksnoe-obsledovanie-u-kardiologa.html"
                 title="Акция на комплексное обследование у кардиолога"
                 class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>Акция на комплексное обследование у кардиолога</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>45%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">890</div>
                      <div class="price">489</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <a href="promotions/kiev/lechebnyj-massazh-ot-kliniki-viva-so-skidkoj-5-seansov.html"
                 title="Лечебный массаж от клиники «VIVA» со скидкой (5 сеансов)"
                 class="widget-discount widget-discount_sm">
                <div class="widget-discount__mask"></div>
                <div class="js-clamp-3 widget-discount__title js-truncate">
                  <span>Лечебный массаж от клиники «VIVA» со скидкой (5 сеансов)</span>
                  <div class="widget-discount__title_bottom">
                    <img src="#" alt="" class="lazy">
                  </div>
                </div>
                <div class="widget-discount__bt">
                  <div class="widget-discount__lt">
                    <p>Скидка</p>
                    <span>45%</span>
                  </div>
                  <div class="widget-discount__rt">
                    <div class="price-group">
                      <div class="through-price">1 950</div>
                      <div class="price">1 072</div>
                      <div class="price-currency">грн</div>
                    </div>
                    <span class="widget-discount__btn">Подробнее</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid row_grey-texture_light">
  <div class="container container_nopadding">
    <div class="diagnostics-record">
      <header class="header-styled index-page-header">
        <div class="diagnostics-record__header-wrap">
          <div class="col-sm-7 col-xs-12">
            <div class="h1">Запись на диагностику</div>
          </div>
          <div class="col-sm-5 text-right hidden-xs">
            <a href="diagnostics/kiev/all.html" title="Все диагностические центры" class="main-more-link">
              Все диагностические центры <i>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path class="btn-blue"
                      d="M8 0L6.59 1.41 12.17 7H0v2h12.17l-5.58 5.59L8 16l8-8-8-8z"></path>
              </svg>
            </i>
            </a>
          </div>
        </div>
      </header>
      <div class="diagnostics-record__inner">
        <ul class="diagnostics-record__list">
          <li class="diagnostics-record__items hidden-xs">
            <a href="diagnostics/kiev/all/uzi.html" title="УЗИ" class="diagnostics-record__item-title">
              УЗИ </a>
            <a href="diagnostics/kiev/all/rentgen.html" title="Рентген"
               class="diagnostics-record__item-title">
              Рентген </a>
            <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov.html"
               title="Диагностика заболеваний сердца и сосудов" class="diagnostics-record__item-title">
              Диагностика заболеваний сердца и сосудов </a>
            <a href="diagnostics/kiev/all/endoskopicheskie-metody-issledovaniya.html"
               title="Эндоскопические методы исследования" class="diagnostics-record__item-title">
              Эндоскопические методы исследования </a>
          </li>
          <li class="diagnostics-record__item js-tab__parent-index">
<span class="btn__mobile"><svg class="arrow-to-down_g" xmlns="http://www.w3.org/2000/svg"
                               xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="4" viewBox="0 0 13 8"
                               version="1.1">
<g transform="translate(-5908 1236)">
<path transform="translate(5908.94 -1235.41)"
      d="M 1.41 1.52588e-07L 6 4.58L 10.59 1.52588e-07L 12 1.41L 6 7.41L 0 1.41L 1.41 1.52588e-07Z"/>
</g>
<path d="M 1.41 1.52588e-07L 6 4.58L 10.59 1.52588e-07L 12 1.41L 6 7.41L 0 1.41L 1.41 1.52588e-07Z"/>
</svg></span>
            <span class="diagnostics-record__item-title item-title_mobile js-tab__mobile-d">УЗИ</span>
            <ul class="diagnostics-record__inner-list js-content-hide">
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_shitovidnoj-zhelezy.html"
                   title="УЗИ щитовидной железы" class="inner-list__link">
                  УЗИ щитовидной железы </a>
                <span class="inner-list__quantity">201</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_organov-malogo-taza.html"
                   title="УЗИ органов малого таза" class="inner-list__link">
                  УЗИ органов малого таза </a>
                <span class="inner-list__quantity">200</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_molochnyh-zhelez.html" title="УЗИ молочных желез"
                   class="inner-list__link">
                  УЗИ молочных желез </a>
                <span class="inner-list__quantity">197</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_organov-bryushnoj-polosti.html"
                   title="УЗИ органов брюшной полости" class="inner-list__link">
                  УЗИ органов брюшной полости </a>
                <span class="inner-list__quantity">192</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_pochek.html" title="УЗИ почек"
                   class="inner-list__link">
                  УЗИ почек </a>
                <span class="inner-list__quantity">182</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/uzi_myagkih-tkanej.html" title="УЗИ мягких тканей"
                   class="inner-list__link">
                  УЗИ мягких тканей </a>
                <span class="inner-list__quantity">157</span>
              </li>
            </ul>
          </li>
          <li class="diagnostics-record__item js-tab__parent-index">
<span class="btn__mobile"><svg class="arrow-to-down_g" xmlns="http://www.w3.org/2000/svg"
                               xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="4" viewBox="0 0 13 8"
                               version="1.1">
<g transform="translate(-5908 1236)">
<path transform="translate(5908.94 -1235.41)"
      d="M 1.41 1.52588e-07L 6 4.58L 10.59 1.52588e-07L 12 1.41L 6 7.41L 0 1.41L 1.41 1.52588e-07Z"/>
</g>
<path d="M 1.41 1.52588e-07L 6 4.58L 10.59 1.52588e-07L 12 1.41L 6 7.41L 0 1.41L 1.41 1.52588e-07Z"/>
</svg></span>
            <span class="diagnostics-record__item-title item-title_mobile js-tab__mobile-d">Рентген</span>
            <ul class="diagnostics-record__inner-list js-content-hide">
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_sustavov.html" title="Рентген суставов"
                   class="inner-list__link">
                  Рентген суставов </a>
                <span class="inner-list__quantity">36</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_pridatochnyh-pazuh-nosa.html"
                   title="Рентген придаточных пазух носа (гайморовых, фронтальных и др.)"
                   class="inner-list__link">
                  Рентген придаточных пазух носа (гайморовых, фронтальных и др.) </a>
                <span class="inner-list__quantity">36</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_organov-grudnoj-kletki.html"
                   title="Рентген органов грудной клетки" class="inner-list__link">
                  Рентген органов грудной клетки </a>
                <span class="inner-list__quantity">33</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_pozvonochnika.html" title="Рентген позвоночника"
                   class="inner-list__link">
                  Рентген позвоночника </a>
                <span class="inner-list__quantity">31</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_cherepa.html" title="Рентген черепа"
                   class="inner-list__link">
                  Рентген черепа </a>
                <span class="inner-list__quantity">30</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rentgen_kisti.html" title="Рентген кисти"
                   class="inner-list__link">
                  Рентген кисти </a>
                <span class="inner-list__quantity">28</span>
              </li>
            </ul>
          </li>
          <li class="diagnostics-record__item js-tab__parent-index">
<span class="btn__mobile"><svg class="arrow-to-down_g" xmlns="http://www.w3.org/2000/svg"
                               xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="4" viewBox="0 0 13 8"
                               version="1.1">
<g transform="translate(-5908 1236)">
<path transform="translate(5908.94 -1235.41)"
      d="M 1.41 1.52588e-07L 6 4.58L 10.59 1.52588e-07L 12 1.41L 6 7.41L 0 1.41L 1.41 1.52588e-07Z"/>
</g>
<path d="M 1.41 1.52588e-07L 6 4.58L 10.59 1.52588e-07L 12 1.41L 6 7.41L 0 1.41L 1.41 1.52588e-07Z"/>
</svg></span>
            <span class="diagnostics-record__item-title item-title_mobile js-tab__mobile-d">Диагностика заболеваний сердца и сосудов</span>
            <ul class="diagnostics-record__inner-list js-content-hide">
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_elektrokardiografiya-ekg.html"
                   title="Диагностика заболеваний сердца и сосудов Электрокардиография (ЭКГ)"
                   class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Электрокардиография (ЭКГ) </a>
                <span class="inner-list__quantity">141</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a
                  href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_sutochnoe-ekg-monitorirovanie-po-holteru.html"
                  title="Диагностика заболеваний сердца и сосудов Суточное мониторирование ЭКГ (по Холтеру)"
                  class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Суточное мониторирование ЭКГ (по
                  Холтеру) </a>
                <span class="inner-list__quantity">66</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_sutochnoe-monitorirovanie-ad.html"
                   title="Диагностика заболеваний сердца и сосудов Суточное мониторирование АД"
                   class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Суточное мониторирование АД </a>
                <span class="inner-list__quantity">42</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_sutochnoe-monitorirovanie-adekg.html"
                   title="Диагностика заболеваний сердца и сосудов Суточное мониторирование АД+ЭКГ"
                   class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Суточное мониторирование АД+ЭКГ </a>
                <span class="inner-list__quantity">28</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a
                  href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_ekg-proba-s-dozirovannoj-fizicheskoj-nagruzkoj.html"
                  title="Диагностика заболеваний сердца и сосудов ЭКГ-проба с дозированной физической нагрузкой (тредмил-тест)"
                  class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов ЭКГ-проба с дозированной физической
                  нагрузкой (тредмил-тест) </a>
                <span class="inner-list__quantity">18</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/diagnostika-serdca-i-sosudov_reovazografiya-rvg.html"
                   title="Диагностика заболеваний сердца и сосудов Реовазография (РВГ)"
                   class="inner-list__link">
                  Диагностика заболеваний сердца и сосудов Реовазография (РВГ) </a>
                <span class="inner-list__quantity">18</span>
              </li>
            </ul>
          </li>
          <li class="diagnostics-record__item js-tab__parent-index">
<span class="btn__mobile"><svg class="arrow-to-down_g" xmlns="http://www.w3.org/2000/svg"
                               xmlns:xlink="http://www.w3.org/1999/xlink" width="7" height="4" viewBox="0 0 13 8"
                               version="1.1">
<g transform="translate(-5908 1236)">
<path transform="translate(5908.94 -1235.41)"
      d="M 1.41 1.52588e-07L 6 4.58L 10.59 1.52588e-07L 12 1.41L 6 7.41L 0 1.41L 1.41 1.52588e-07Z"/>
</g>
<path d="M 1.41 1.52588e-07L 6 4.58L 10.59 1.52588e-07L 12 1.41L 6 7.41L 0 1.41L 1.41 1.52588e-07Z"/>
</svg></span>
            <span class="diagnostics-record__item-title item-title_mobile js-tab__mobile-d">Эндоскопические методы исследования</span>
            <ul class="diagnostics-record__inner-list js-content-hide">
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/kolposkopiya.html" title="Кольпоскопия"
                   class="inner-list__link">
                  Кольпоскопия </a>
                <span class="inner-list__quantity">112</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/videkolonoskopiya.html" title="Колоноскопия"
                   class="inner-list__link">
                  Колоноскопия </a>
                <span class="inner-list__quantity">52</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/rektoromanoskopiya.html" title="Ректороманоскопия"
                   class="inner-list__link">
                  Ректороманоскопия </a>
                <span class="inner-list__quantity">46</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/ezofagogastroduodenoskopiya-efgds-gastroskopiya.html"
                   title="Гастроскопия" class="inner-list__link">
                  Гастроскопия </a>
                <span class="inner-list__quantity">42</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/anoskopiya.html" title="Аноскопия"
                   class="inner-list__link">
                  Аноскопия </a>
                <span class="inner-list__quantity">40</span>
              </li>
              <li class="diagnostics-record__inner-list__item">
                <a href="diagnostics/kiev/all/endoskopiya.html" title="Эндоскопия"
                   class="inner-list__link">
                  Эндоскопия </a>
                <span class="inner-list__quantity">29</span>
              </li>
            </ul>
          </li>
        </ul>
        <div class="diagnostics-record__more"><a rel="nofollow" href="#diagnostic-center" data-toggle="modal"
                                                 data-target="#select-area-diagnostics" title="Все диагностики"
                                                 class="diagnostics-record__more-link">Все &nbsp;242&nbsp;услуг
          диагностики</a></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-advantages hidden-xs">
  <section class="store-sec">
    <div class="container store-sec_cnt">
      <div data-wow-duration="1.2s" data-wow-offset="150" class="store-sec_point wow fadeIn">
        <div class="store-sec_point_caption f-b h1">Завантажуйте наш додаток, щоб ми були ближче</div>
        <div class="store-sec_point_text">Часто люди, звертаючись за медичними послугами, заплутуються,
          лякаються складнощів і навіть обирають ненайдійне самолікування. Тому ми оновлюємо -
          платформу, яка має на меті закрити усі медичні питання українця, зробити медицину більш френдлі:
          доступною, зрозумілою і простою.
        </div>
        <div class="store-sec_point_links">
          <img src="i/new-design/img/med.png" alt="">
          <a href="innovated.html" class="store-sec_point_links_point">
            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.82106 7.43819C9.8028 5.6641 11.2675 4.81509 11.3324 4.77249C10.5098 3.57049 9.2297 3.40515 8.77223 3.38689C7.68383 3.27532 6.64616 4.02796 6.09233 4.02796C5.54052 4.02796 4.68644 3.40211 3.78266 3.41834C2.59385 3.4366 1.49937 4.11012 0.886703 5.17316C-0.347756 7.31546 0.570227 10.4883 1.77324 12.2279C2.36156 13.078 3.06349 14.0325 3.9835 13.999C4.87004 13.9635 5.20477 13.4249 6.27694 13.4249C7.3491 13.4249 7.65036 13.999 8.58762 13.9817C9.54211 13.9635 10.1457 13.1145 10.7289 12.2624C11.4045 11.2755 11.6824 10.3189 11.6996 10.2713C11.6773 10.2591 9.84033 9.55615 9.82106 7.43819Z"
                fill="#0957C3"/>
              <path
                d="M8.05809 2.23562C8.54599 1.64425 8.87667 0.820606 8.78639 0C8.08142 0.0284017 7.23038 0.467613 6.72423 1.05999C6.27081 1.58441 5.87623 2.42124 5.98173 3.22562C6.76683 3.28749 7.57019 2.82597 8.05809 2.23562Z"
                fill="#0957C3"/>
            </svg>
            App Store
          </a>
          <a href="innovated.html" class="store-sec_point_links_point">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.68249 0.178419C2.32182 -0.0386927 1.89197 -0.0581069 1.51709 0.122637L7.80265 6.4216L9.85783 4.35686L2.68249 0.178419ZM0.939581 0.705611C0.860284 0.873504 0.817627 1.06026 0.817627 1.25249V12.7747C0.817627 12.9678 0.860557 13.1518 0.940675 13.3161L7.22378 7.00321L0.939581 0.705611ZM7.8035 7.584L1.52805 13.8893C1.69458 13.9664 1.87177 14 2.04868 14C2.26716 14 2.48509 13.9478 2.68252 13.8291L9.85923 9.64437L7.8035 7.584ZM12.5906 5.94828C12.5882 5.94664 12.5854 5.945 12.583 5.94363L10.5907 4.78342L8.3821 7.00239L10.592 9.21698C10.592 9.21698 12.5882 8.05322 12.5906 8.05185C12.9611 7.82681 13.1823 7.43361 13.1823 6.99993C13.1823 6.56625 12.9611 6.17305 12.5906 5.94828Z"
                fill="#0957C3"/>
            </svg>
            Google Play
          </a>
        </div>
      </div>
      <div class="store-sec_img">
        <img class="main-sec_phone-block_chem" src="i/new-design/img/chem.png" alt="chem">
        <img class="lazy store-sec_img_svg" src="i/new-design/img/store-im-1.png" alt="store">
      </div>
    </div>
  </section>
  <div class="row row-white row_advantages">
    <div class="advantages container">
      <div class="row">
        <div class="advantage col-sm-4">
          <div class="advantage__icon">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="-420 222 118 118">
                <style>.mp1_1 {
                  fill: url(#mp1_1);
                }

                .mp1_2 {
                  fill: url(#mp1_2);
                }

                .mp1_3 {
                  fill: url(#mp1_3);
                }

                .mp1_4 {
                  fill: url(#mp1_4);
                }

                .mp1_5 {
                  fill: url(#mp1_5);
                }</style>
                <linearGradient id="mp1_1" x1="-841.176" x2="-840.176" y1="565.624" y2="565.624"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(-84.922 84.792 -84.922 -84.792 -119772.332 23615.533)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp1_1" d="M-320.5 269.9l-3.1-3.1-25.2 25.2 3.1 3.1 25.2-25.2z" class="mp1_1"/>
                <linearGradient id="mp1_2" x1="-838.167" x2="-837.167" y1="565" y2="565"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 120.008 120.008 0 -68130.453 100807.727)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp1_2"
                      d="M-325.9 296.6c-4 0-7-3.3-7-7s3.3-7 7-7c4 0 7 3.3 7 7s-2.9 7-7 7zm0-9.5c-1.5 0-2.6 1.1-2.6 2.6s1.1 2.6 2.6 2.6 2.6-1.1 2.6-2.6-1.1-2.6-2.6-2.6z"
                      class="mp1_2"/>
                <linearGradient id="mp1_3" x1="-838.167" x2="-837.167" y1="565" y2="565"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 120.008 120.008 0 -68148.008 100807.727)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp1_3"
                      d="M-343.6 279.1c-4 0-7-3.3-7-7s3.3-7 7-7c4 0 7 3.3 7 7s-2.9 7-7 7zm0-9.5c-1.5 0-2.6 1.1-2.6 2.6s1.1 2.6 2.6 2.6 2.6-1.1 2.6-2.6-1.1-2.6-2.6-2.6z"
                      class="mp1_3"/>
                <linearGradient id="mp1_4" x1="-838.167" x2="-837.167" y1="565" y2="565"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 120.007 120.007 0 -68181.188 100806.883)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp1_4"
                      d="M-377.3 305c-13.2 0-23.9-10.6-23.9-24.2 0-13.2 10.6-23.8 23.9-23.8 13.3 0 23.9 10.6 23.9 23.8.3 13.6-10.4 24.2-23.9 24.2zm0-35.9c-6.6 0-11.7 5.1-11.7 11.7s5.1 11.7 11.7 11.7 11.7-5.1 11.7-11.7c.4-6.2-5.1-11.7-11.7-11.7z"
                      class="mp1_4"/>
                <linearGradient id="mp1_5" x1="-838.167" x2="-837.167" y1="565" y2="565"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="rotate(90 -84485.888 16320.952) scale(120.007)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp1_5"
                      d="M-361 222c-32.6 0-59 26.4-59 59s26.4 59 59 59 59-26.4 59-59-26.4-59-59-59zm0 113c-29.8 0-54-24.2-54-54s24.2-54 54-54 54 24.2 54 54-24.2 54-54 54z"
                      class="mp1_5"/>
              </svg>
            </i>
          </div>
          <div class="advantage__title">Наш сервис бесплатен для пациентов</div>
          <div class="advantage__desc">Мы работаем без скрытых наценок и комиссий. Вы платите только клинике
            за предоставленные вам услуги.
          </div>
        </div>
        <div class="advantage col-sm-4">
          <div class="advantage__icon">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="-420 222 118 118">
                <style>.mp2_1 {
                  fill: url(#mp2_1);
                }

                .mp2_2 {
                  fill: url(#mp2_2);
                }

                .mp2_3 {
                  fill: url(#mp2_3);
                }</style>
                <linearGradient id="mp2_1" x1="-838.151" x2="-837.151" y1="565.028" y2="565.028"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 119.008 119.008 0 -67607.297 99968.39)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp2_1"
                      d="M-339.9 294.3c-4 0-7.6-.6-11-1.8-.9-.3-2.1 0-3.1.6l-6.7 6.7c-8.6-4.3-15.9-11.6-20.2-20.2l6.7-6.7c.9-.9 1.2-2.1.9-3.1-1.2-3.1-1.8-6.7-1.8-10.7 0-1.5-1.5-3.1-3.1-3.1h-10.7c-1.5 0-3.1 1.5-3.1 3.1 0 28.7 23.2 51.9 51.9 51.9 1.5 0 3.1-1.5 3.1-3.1v-10.7c.2-1.4-1.3-2.9-2.9-2.9z"
                      class="mp2_1"/>
                <linearGradient id="mp2_2" x1="-838.151" x2="-837.151" y1="565.029" y2="565.029"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 119.008 119.008 0 -67593.75 99968.39)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp2_2"
                      d="M-364.5 256.1v30.6l9.2-9.2h18.3v-21.4h-27.5zm20.8 13.2h-4.6v4.6h-4.6v-4.6h-4.6v-4.9h4.6v-4.6h4.6v4.6h4.6v4.9z"
                      class="mp2_2"/>
                <linearGradient id="mp2_3" x1="-838.151" x2="-837.151" y1="565.029" y2="565.029"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 119.007 119.007 0 -67603.43 99967.547)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp2_3"
                      d="M-361 222c-32.6 0-59 26.4-59 59s26.4 59 59 59 59-26.4 59-59-26.4-59-59-59zm0 113c-29.8 0-54-24.2-54-54s24.2-54 54-54 54 24.2 54 54-24.2 54-54 54z"
                      class="mp2_3"/>
              </svg>
            </i>
          </div>
          <div class="advantage__title">В нашем call-центре работают врачи</div>
          <div class="advantage__desc">В нашем call-центре работают операторы с медицинским образованием,
            которые помогут вам выбрать лучшего специалиста.
          </div>
        </div>
        <div class="advantage col-sm-4">
          <div class="advantage__icon">
            <i>
              <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" viewBox="-420 222 118 118">
                <style>.mp3_1 {
                  fill: url(#mp3_1);
                }

                .mp3_2 {
                  fill: url(#mp3_2);
                }</style>
                <linearGradient id="mp3_1" x1="-836.452" x2="-835.452" y1="569.9" y2="569.9"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 62 50 0 -28856 52110)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp3_1"
                      d="M-361 250l-25 11.3v16.9c0 15.5 10.6 30.2 25 33.8 14.4-3.7 25-18.3 25-33.8v-16.9l-25-11.3zm2.8 45.1h-5.6v-16.9h5.6v16.9zm0-22.6h-5.6v-5.6h5.6v5.6z"
                      class="mp3_1"/>
                <linearGradient id="mp3_2" x1="-838.151" x2="-837.151" y1="565.029" y2="565.029"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="matrix(0 119.007 119.007 0 -67603.43 99967.547)">
                  <stop offset="0" stop-color="#09859D"/>
                  <stop offset="1" stop-color="#2DDEC1"/>
                </linearGradient>
                <path id="mp3_2"
                      d="M-361 222c-32.6 0-59 26.4-59 59s26.4 59 59 59 59-26.4 59-59-26.4-59-59-59zm0 113c-29.8 0-54-24.2-54-54s24.2-54 54-54 54 24.2 54 54-24.2 54-54 54z"
                      class="mp3_2"/>
              </svg>
            </i>
          </div>
          <div class="advantage__title">Ваши данные в полной безопасности</div>
          <div class="advantage__desc">Мы гарантируем Вам конфиденциальность Ваших данных. Ваша персональная
            информация используется только для записи.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-rg-q__thank-wrap diagnostic-popup">
  <div class="p-rg-thank__c">
    <svg class="p-rg-thank__i" xmlns="http://www.w3.org/2000/svg" width="109" height="109" viewBox="0 0 109 109"
         version="1.1">
      <path fill="#43A047"
            d="M54.55.8C24.88.8.8 24.88.8 54.55s24.08 53.75 53.75 53.75 53.75-24.08 53.75-53.75S84.22.8 54.55.8zM43.8 81.425L16.925 54.55l7.579-7.579L43.8 66.214l40.796-40.797 7.579 7.633L43.8 81.425z"></path>
    </svg>
    <div class="p-rg-thank__text">
      <h3>Спасибо!</h3>
      <p>Ваша заявка принята, мы свяжемся с Вами в ближайшее время</p>
    </div>
  </div>
</div>
