<div class="row-counters hidden-xs">
  <div class="col-sm-4">
    <div class="counter">
      <div class="counter__digits">
        <div class="counter__digit">{{ counter.records }}</div>
      </div>
      <div class="counter__title">записей за сутки</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="counter">
      <div class="counter__digits">
        <div class="counter__digit">{{ counter.doctors }}</div>
      </div>
      <div class="counter__title">врачей на сайте</div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="counter">
      <div class="counter__digits">
        <div class="counter__digit">{{ counter.comments }}</div>
      </div>
      <div class="counter__title">отзывов пациентов</div>
    </div>
  </div>
</div>
